.body,
.top,
.first,
.list,
.second,
.third,
.fourth,
.fourthcontainer,
.rightsidebox,
.fourthbutton{
    display: flex;
}


.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}


.top{
    background-color:#1F2937;
    color: white;
    justify-content: center;

}


.list{
    gap: 30px;
    list-style: none;
    color: grey;
    font-size: 18px;
    margin-left: 400px;

}


.first{
    color: white;
    background-color: #1F2937;
    justify-content: center;
    padding: 70px;
}

.firstparagraph{
margin: 0px
}


.leftsidebox{
    width: 400px;
    font-size: 18px;
    margin: 0px;
}

.firstsectionbutton{
    background-color: blue;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}

.fontfirst{
    font-size: 48px;
    margin: 0;
}

.rightsidebox{
    background-color: lightgrey;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.second{
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.boxcontainer{
    display: flex;
    gap: 40px;
}

.secondparagraph,
.boxes{
    width: 130px;
    height: 130px;
    text-align: center;
}

.boxes{
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
}

.third{
    background-color: #E5E7EB;
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    
}

.thorcontainer{
    
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 550px;
}

.thorcitate{
    font-size: 26px;
    margin: 0px;
}

.thorname{
    margin: 0px;
}

.fourth{
    padding: 60px;
    justify-content: center;
}

.fourthcontainer{
border-radius: 25px;
background-color: blue;
color: white;
padding: 40px;
justify-content: space-between;
gap: 60px;
width: 700px;
}

.fourthfont{
margin: 0px;
}

.fourthbutton{
    justify-content: center;
    align-items: center;
    flex: 1;
    
}


.secondbutton{
    background-color: blue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding: 40px;
}
