.body,
.first,
.second,
.third,
.fourth,
.fourthcontainer,
.rightsidebox,
.fourthbutton{
    display: flex;
}


.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.top{
    background-color:#1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
}


.list{
    display: flex;
    gap: 30px;
    list-style: none;
    color: grey;
    font-size: 18px;

}


.first{
    color: white;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 100px;
}

.leftsidebox{
    width: 400px;
    font-size: 18px;
}

.firstbutton{
    background-color: blue;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
}

.fontfirst{
    font-size: 48px;
}

.rightsidebox{
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.second{
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.boxcontainer{
    display: flex;
    gap: 40px;
}

.boxes{
    width: 80px;
    height: 80px;
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
}

.third{
    background-color: grey;
    align-items: flex-end;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 50px;
}

.thorcitate{
    font-size: 28px;
}

.nameisthor{
    display: inline-block;
}

.fourth{
    padding: 60px;
    justify-content: center;
}

.fourthcontainer{
border-radius: 25px;
background-color: blue;
color: white;
padding: 40px;
justify-content: space-between;
gap: 60px;
width: 700px;
}

.fourthcall{
    flex: 10;

}

.fourthbutton{
    justify-content: center;
    align-items: center;
    flex: 1;
    
}


.secondbutton{
    background-color: blue;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
